
.lizard-main-div{
    width: 800px;
    margin: 50px auto;
    text-align: center;
    height: 70px;
    font-size: 24px;
    font-weight: 700;
}
 
.lizard-container{
    margin: auto;
    width: 800px;
} 


.interests-card{
    margin: 10px 5px;
    width: 220px;
    height: 100px;
}  

button{
    width: 200px;
    height: 80px;
    margin: 10px 0 10px 10px;
    text-align: center;
    vertical-align:middle;
    font-size: 18px;
}
.pointer{
    cursor: pointer;
    color: black;
}
.icons{
    width: 100px;
    text-align: center;
    margin: 5px auto;
}
.icons a{
    margin: 0 10px;
}