/* google-map{
    min-width: 280px;
}
.my-google-map{
    min-width: 280px;
    width: 400px;
    height: 600px;
    margin: 20px auto;   
} */

.map-page{
    text-align: center;
    margin-left: 40px;
    margin-top: 30px;
}
#map-canvas{
    position: absolute;
    min-width: 20%;
    width: 95%;
    height: 70%;
}
/* footer{
    display: none;
} */
.pointer{
    cursor: pointer;
    color: black;
}
.icons{
    width: 100px;
    text-align: center;
    margin: auto;
}
.icons a{
    margin: 0 10px;
}
