google-map{
    min-width: 280px;
}
.my-google-map{
    min-width: 280px;
    width: 400px;
    height: 600px;
    margin: 20px auto;   
}
.pointer{
    cursor: pointer;
    color: black;
}
.icons{
    width: 100px;
    text-align: center;
    margin: 5px auto;
}
.icons a{
    margin: 0 10px;
}
