.reptiles-main-div{
    min-width: 280px;
    margin: auto;
    text-align: center;
    padding: 40px 60px;
}
.reptiles-cards{
    margin-bottom: 10px;
    min-width: 280px;
    height: 455px;
    border-radius: 30px;
}
.reptiles-header{
    height: 40px;
}
.reptiles-header, .reptiles-image{
    text-align: center;
    width: 250px;
    font-size: 16px;
    margin: auto;
}

.reptiles-buttons{
    margin: auto;
    text-align: center;
}

.reptiles-buttons button{
    width: 100px;
    float: right;
    height: 55px;
    border-radius: 50px;
}
.pointer{
    cursor: pointer;
    color: black;
}
.icons{
    width: 100px;
    text-align: center;
    margin: -40px auto 10px auto;
}
.icons a{
    margin: 0 10px;
}
audio{
    width: 145px;
    display: inline;
    
}
