.pets-main-div{
    min-width: 280px;
    text-align: center;
    padding: 0;
    padding: 40px 60px;
}
.pet-cards{
    min-width: 280px;
    height: 455px;
    border-radius: 30px;
    margin-bottom: 10px;
}
.pet-header{
    height: 40px;
}
.pet-header, .pet-image{
    font-size: 16px;
}

.pet-buttons{
    margin: auto;
    text-align: center;
}
.pointer{
    cursor: pointer;
    color: black;
}
.icons{
    width: 100px;
    text-align: center;
    margin: -40px auto 10px auto;
}





