
.home-main-div{
    height: 360px;
    width: 100%;
}
.home-main-div mat-card{
    height: 320px;
    min-width: 280px;
    max-width: 520px;
    padding: 50px;
    text-align: center;
    margin: 20px auto 0 auto;
}

.home-main-div a{
    border-radius: 10px;
    line-height: 60px;
    margin-top: 30px;
    width: 100%;
    font-size: 18px;
    text-align: center;

}
.pointer{
    cursor: pointer;
}
footer{
    width: 100%;
    text-align: center;
    height: 200px;
    margin: 0 auto;
}


@media  only screen and (max-width: 520px) {
    footer{
        display: none;
    }
}


