
.home-main-div{
    height: 500px;
}
.home-main-div mat-card{
    height: 360px;
    min-width: 280px;
    padding: 60px;
    text-align: center;
    margin: auto;
}

.home-main-div a{
    border-radius: 10px;
    line-height: 60px;
    margin-top: 30px;
    width: 100%;
    font-size: 18px;
    text-align: center;

}
.pointer{
    cursor: pointer;
}


