.interest-container{
    max-width: 1200px;
    min-width: 280px;
    margin: 20px auto;
}
#turtle-right{ 
    margin-top: 80px;
    float: right;
}

#carouselExampleIndicators{
    max-height: 1200px;
    min-width: 280px;
    min-height: 570px;
    background-color: rgba(114, 166, 82, 0.597);
    padding: 25px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.pointer{
    cursor: pointer;
    color: black;
}

.carousel-control-prev, .carousel-control-next{
    width: 30px;
}

.carousel-item p{
    text-align: justify;
    width: 320px;
    display: block;
    font-size: 16px;
    color: black;
    padding: 5px;
}
.icons{
    width: 100px;
    text-align: center;
    margin: 5px auto;
}
.icons a{
    margin: 0 10px;
}


.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.image img{
    border-radius: 20px;
}

#turtle-up{
    margin: 0 0 -20px -250px;
    text-align: center;
}


/* 
@media  only screen and (max-width: 1100px) {
    #turtle-up{
        margin: 0 0 -20px -230px;
    }
} */
@media  only screen and (max-width: 700px) {
    #turtle-up{
        margin: 0 auto -20px auto;
    }
} 
@media  only screen and (max-width: 800px) {
    #turtle-right{
        display: none;
    }
}
@media  only screen and (max-width: 480px) {
    #turtle-up{
        display: none;
    }
}