.main-div mat-card{
    height: 400px;
    min-width: 280px;
    padding: 60px;
    text-align: center;
    background-color: rgba(15, 126, 58, 0.647);
    font-size: 18px;
}

.main-div a{
    margin: 20px 0;
    width: 100%;
    font-size: 18px;
    text-decoration: none;
}
.main-div a:hover{
    text-decoration: none;
    color: white;
}
.main-div mat-toolbar:first-of-type{
    text-align: center;
    background-color: rgba(15, 126, 58, 0.647);
}
.main-div mat-card-title{
    font-weight: 700;
}

.main-div div{
    background: none;
    border: 0;
    text-align: center;
    line-height: 50px;
    font-weight: 500;
}


