.pointer{
  cursor: pointer;
}

.navbar{
  height: 60px;
  min-width: 280px;
  display: flex;
  justify-content: space-between;
}

.navbar-brand{
  font-size: 22px; 
  font-weight: 700;
  letter-spacing: 0.2em;
  color: white;
  margin-left: 20px;
}


.menu-toggler{
  min-width: 60px;
  font-size: 22px;
  letter-spacing: 0.3em;
  background-color: transparent;
  border: 0;
  font-weight: 800;
  margin-right: 40px;
  margin-left: -37px;
  color: white;
  height: 60px;
}

ul{
  list-style: none;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  min-width: 60px;
  text-align: center;
}

ul li{
  display: inline-block;
  min-width: 80px;
  height: 35px;
  margin: 5px 0;
}

.navbar a{
  text-decoration: none;
  color: black;
  font-size: 16px;

}
.drobdown-menu ul li a:hover{
  color: limegreen;
  font-size: 20px;
  background-color: white;
}

.drobdown-menu{
  display: none;
  position: absolute;
  min-width: 60px;
  z-index: 1;
  margin-left: -80px;
}
.menu-container:hover .drobdown-menu{
 display: block;
 background-color: white;
 border-radius: 10px;
}

.menu-container:hover .menu-toggler{
  background-color: transparent;
  height: 60px;
}