<div class="pig-main-div">
    <div class="shadow-lg p-3 mb-5 bg-body rounded">What are you interested in?</div>
</div>

<div class="pig-container">
    <div class="pig-interests d-flex justify-content-evenly align-content-around flex-wrap border-success" >
        <div *ngFor="let interest of interests">
          <div class="card interests-card">
            <div >
                <button class="btn btn-success" routerLink="/pets/pig/pig-interest/{{interest.id}}">{{interest.name}}</button>
            </div>
          </div>
        </div>
      </div>
      
</div>
<footer>
  <div class="icons">
    <a routerLink="/pets" class="pointer">
        <span class="material-icons">
            keyboard_return
        </span>
    </a>
    <a routerLink="/home" class="pointer">
        <span class="material-icons">
            home
        </span>
    </a>    
  </div> 
</footer>